---
layout: default
title: Research
description: The APRILab focuses on developing novel sensor-based planning approahces for autonomous robotics systems. The areas of interest include dynamics and control, computational geometry, underwater robotics, sensor/information fusion, and machine learning. The applications include information gathering, navigation in constrained environments, 3D mapping, and environment monitoring. <br> This page is being updated (as of May 25, 2023).
---

<!-- APRILab's research focuses on **. -->

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <h1 class="hero__title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.research__settings.research__title }}{% endif %}</h1>
          {% if page.description %}
            <p class="hero__description">{{ page.description }}</p>
          {% else site.data.settings.videos__settings.videos__description %}
            <p class="hero__description">{{ site.data.settings.research__settings.research__description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="videos-page container animate">
  <div class="row">
    {% for fname in site.data.research %}
      <p> fname <br></p>
      {% assign currentPage = site.pages | where: "name", fname | first %}
      {% if currentPage %}
      <div class="article col col-4 col-d-6 col-t-12">
        <div class="article__inner">

          <div class="article__head">

            <!-- <div class="video-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <polygon points="40,30 65,50 40,70"></polygon>
              </svg>
            </div> -->

            {% if currentPage.image %}
            <a href="{{ currentPage.url | prepend: site.baseurl }}" class="article__image" aria-hidden="true" tabindex="-1">
              <img class="lazy" data-src="{{site.baseurl}}{{currentPage.image}}" alt="{{currentPage.title}}">
            </a>
            {% endif %}

          </div>

          <div class="article__content">

            <h2 class="article__title">
              <a href="{{ currentPage.url | prepend: site.baseurl }}">{{ currentPage.title }}</a>
            </h2>

            <p class="article__excerpt">{% if currentPage.description %}{{ currentPage.description }}{% else %}{{ currentPage.content | strip_html | truncate: 160 }}{% endif %}</p>

          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>